wl-clipboard/wl-clipboard
eog/eog-[0-9.]*
gnuplot/gnuplot-[0-9.]*
*.tar*
*.tgz
*/*/*/*
fastfetch/fastfetch
imagemagick/ImageMagick*
gtk3/gtk-*
antigravity/"Antigravity IDE"
antigravity/Antigravity IDE
hyfetch/hyfetch
octave/jack/jack2
leptonica/leptonica-[0-9.]*
tesseract/tesseract-[0-9.]*
xclip/xclip
*.deb
antigravity/antigravity
libpciaccess/libpciaccess-[0-9.]*
*/*-[0-9.]*
jack/jack2
wget-log.*
wget-log
hdf5/hdf5-hdf5_[0-9.]*
gedit/gedit
libgedit-gfls/libgedit-gfls
libgedit-tepl/libgedit-tepl
libgedit-amtk/libgedit-amtk
libgedit-gtksourceview/libgedit-gtksourceview
gnome-maps/gnome-maps-*
dhcpcd.service
dhcpcd_.service
rofi/rofi
rofi/libgwater
uninstalled/rofi/rofi
uninstalled/rofi/libgwater
uninstalled/rofi/libnkutils
gnome-browser-connector/gnome-browser-connector
rofi/libnkutils
zenity/zenity
Libre_Player/Libre_Player
LibreNote/LibreNote
*.zip