wl-clipboard/wl-clipboard
eog/eog-[0-9.]*
gnuplot/gnuplot-[0-9.]*
*.tar*
*.tgz
*/*/*/*
fastfetch/fastfetch
hyfetch/hyfetch
octave/jack/jack2
leptonica/leptonica-[0-9.]*
tesseract/tesseract-[0-9.]*
xclip/xclip
*.deb
antigravity/antigravity
libpciaccess/libpciaccess-[0-9.]*
*/*-[0-9.]*
jack/jack2
wget-log
